aside.fi-sidebar, aside.fi-sidebar header {
    background: linear-gradient(180deg, rgba(0, 130, 54, 1) 0%, rgba(1, 102, 48, 1) 100%) !important; 
}

aside.fi-sidebar .fi-sidebar-item-label,
aside.fi-sidebar .fi-sidebar-group-label,
aside.fi-sidebar .fi-icon {
    color: #ffffff !important;
}

aside.fi-sidebar li.fi-sidebar-item > a:hover {
    background-color: rgba(1, 102, 48, 0.8) !important;
}

aside.fi-sidebar li.fi-sidebar-item.fi-active > a {
    background-color: #ffffff !important;
    border-radius: 0.5rem !important;
}

aside.fi-sidebar li.fi-sidebar-item.fi-active > a .fi-sidebar-item-label,
aside.fi-sidebar li.fi-sidebar-item.fi-active > a .fi-icon {
    color: #008236 !important; 
}

.fi-sidebar-nav {
    margin-top: 0 !important;
    padding-top: 0 !important;
}